<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/my_server/public/css/site.css">
    <link rel="stylesheet" href="/my_server/public/image/banner.jpg">
</head>
<body>
    <h1>About Our Company</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod maiores asperiores nemo! Quos earum dolores praesentium temporibus nihil doloribus qui deserunt eligendi corrupti. Quibusdam dolore odit culpa est incidunt ab?</p>
    <p><a href="/">Back To Home Page</a></p>
</body>
</html>