<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/my_server/public/css/site.css">
    <link rel="stylesheet" href="/my_server/public/image/banner.jpg">
</head>
<body>
    <h1>Welcome To Our Home Page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint veritatis doloremque, omnis ea eveniet, libero saepe optio in unde ullam veniam reiciendis! Delectus laudantium soluta quis assumenda quas ipsum nulla.</p>
    <p><a href="/about"> About Our Company</a></p>
</body>
</html>